<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LABEL}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{SCRIPT_PATH}}</string>
    </array>
    <key>StartInterval</key>
    <integer>{{INTERVAL}}</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{STDERR_PATH}}</string>
    <key>StandardOutPath</key>
    <string>{{STDOUT_PATH}}</string>
</dict>
</plist>
